section.HeroWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  background-color: var(--color-primary);
  color: var(--color-secondary);

  gap: 64px;

  padding: 150px 20px 100px;

  h1 {
    font-family: var(--editorial-italic);
    font-size: clamp(80px, 14vw, 160px);
    font-weight: 300;
    line-height: 90%;

    text-align: center;
  }

  p {
    max-width: 360px;
    text-align: center;
  }
}
