div.CursorWrapper {
  height: 0;
  width: 0;
  transform: translate(-50%, -50%);

  z-index: 10;
  position: fixed;
  pointer-events: none;

  padding: 12px;
  border-radius: 50%;
  background-color: white;
  mix-blend-mode: difference;

  transition: padding 0.3s;
}