a.ButtonWrapper {
  color: #ededed;
  background-color: #255fa1;

  padding: 12px 24px;
  border-radius: 24px;

  text-decoration: none;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;

  transition: 0.2s;
}

a.ButtonWrapper:hover {
  background-color: #144c8b;
}

a.MiniButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #255fa1;
  color: #ededed;
  // border: 2px solid #ededed22;

  height: 48px;
  width: 48px;
  border-radius: 50%;

  position: fixed;
  bottom: 24px;
  right: 16px;
  z-index: 1;

  opacity: 1;
  pointer-events: all;

  transition: 0.5s;
}

a.MiniButtonWrapper:hover {
  background-color: #144c8b;
}

a.MiniButtonHidden {
  opacity: 0;
  pointer-events: none;
}
