a.ButtonWrapper {
  color: var(--color-secondary);
  background-color: var(--color-primary-dark);

  padding: 12px 24px;
  border-radius: 24px;

  text-decoration: none;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;

  transition: 0.2s;
}

a.ButtonWrapper:hover {
  color: var(--color-primary-dark);
  background-color: var(--color-secondary);
}

a.MiniButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-primary);
  color: var(--color-secondary);
  box-shadow: 0 5px 15px #33223355;

  height: 48px;
  width: 48px;
  border-radius: 50%;

  position: fixed;
  bottom: 24px;
  right: 16px;
  z-index: 1;

  opacity: 1;
  pointer-events: all;

  transition: opacity 0.5s, background-color 0.2s;
}

a.MiniButtonWrapper:hover {
  background-color: var(--color-primary-dark);
  box-shadow: 0 5px 15px #33223322;
}

a.MiniButtonHidden {
  opacity: 0;
  pointer-events: none;
}
