* {
  --color-primary: #dd444c;
  --color-primary-dark: #c33743;
  --color-secondary: #ffe5e1;
  --color-tertiary: #fff;
  --color-black: #444;
  /* --color-primary: #255fa1;
  --color-primary-dark: #144c8b;
  --color-secondary: #ededed;
  --color-tertiary: #ffd500; */
}
