a.ProjectCardWrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 480px;
  width: 360px;
  aspect-ratio: 3/4;

  padding: 40px;

  border: 1px solid var(--color-primary);
  color: var(--color-primary);

  text-decoration: none;

  transition: 0.1s;

  h2 {
    font-family: var(--editorial-italic);
    font-size: 48px;
    font-weight: 300;
    padding: 12px 0;
  }

  p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
  }

  opacity: 0;

  transition: 0.5s;

  &:hover {
    color: var(--color-black);
    background-color: var(--color-tertiary);
    border: 1px solid var(--color-black);
    transition: 0.5s;
  }
}

a.CardSecondary {
  background-color: white;
  color: var(--color-primary);
}

a.Visible {
  opacity: 1;
  transform: translateY(-64px);
}